@*@section Header
{
    @Html.Partial("_MenuPartial")
}*@

<div id="nav_menu">
    <div class="user pull-right">
        <p id="user">@ViewBag.UserName</p>
               
        <select id="stationSelect" name="Id" class="form-control" onchange="changeStation()">
            
            @{
                foreach (var station in ViewBag.Stations)
                {
                    if (station.StationId == ViewBag.StationID) 
                            {
                                <option selected="selected" value=@station.StationId>@station.StationCall</option>
                            }
                            else
                            {
                               <option value=@station.StationId>@station.StationCall</option>
                            }                     
                }
            }
        </select>
</div>

        <div class="logo pull-right" id="logo">
            <img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
    
        </div>
    
    <div id="clear"></div>
    <hr>
    <div class="navigation pull-right" >
        <ul>
            <li><a href="/Guest/Index">Guest Lists</a></li>
            <li><a href="https://next.promosuite.com/MyPromoSuite.aspx">Full Site</a></li>
            <li><a href="/Home/Help">Help</a></li>
            <li><a href="/Account/LogOff">Logout</a></li>
        </ul>
    </div>
    
</div>

@Scripts.Render("~/bundles/changeStation")