
@section Header
{
	@Html.Partial("_HeaderBackButtonPartial")
}

<div>
  <div class="selectbox" style="height: 291px;">
    <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td height="5">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <h1>@ViewBag.Contest</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p style="float:left; display: inline;">Total Attended</p><p style="float:right; display:inline;">0/0</p>
          </td>
        </tr>
        <tr>
          <td width="197" height="51" valign="top">
            <label for="HideAttendees">Hide Attendees</label>
            <input style="float:right;" name=" hideattendees" tabindex="1" id="HideAttendees" type="checkbox">
          </td>
        </tr>
        <tr>
          <td>
            <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                @{
                  foreach (var guest in ViewBag.Guests)
                  {
                    <tr>
                      <td style="display:none;">
                        <p>@guest.Id.ToString()</p>
                      </td>
                      <td>
                        <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td>
                                <input name="Attend" type="checkbox">
                              </td>
                              <td>
                                <strong>@guest.Name</strong>
                                @{
                                  String strInfo = "";
                                  if (guest.HomeCity.Length != 0)
                                  {
                                    strInfo = guest.HomeCity;
                                  }
                                  else
                                  {
                                    if (guest.BusinessCity.Length != 0)
                                    {
                                      strInfo = guest.BusinessCity;
                                    }
                                    else
                                    {
                                      if (guest.Birthdate.Length != 0)
                                      {
                                        strInfo = guest.Birthdate.ToString();
                                      }
                                    }
                                  }
                                  String strInfo1 = "";
                                  if (guest.MobilePhone.Length != 0)
                                  {
                                    strInfo1 = guest.MobilePhone;
                                  }
                                  else
                                  {
                                    if (guest.HomePhone.Length != 0)
                                    {
                                      strInfo1 = guest.HomePhone;
                                    }
                                    else
                                    {
                                      if (guest.BusinessPhone.Length != 0)
                                      {
                                        strInfo1 = guest.BusinessPhone;
                                      }
                                    }
                                  }
                                  if (!strInfo.IsEmpty() && !strInfo1.IsEmpty())
                                  {
                                    strInfo = strInfo + " | ";
                                  }
                                  strInfo = strInfo + strInfo1;
                                  <p>@strInfo</p>
                                }
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
