
@section BackButton
{
    @Html.Partial("_HeaderBackButtonPartial")
}

<div class="main_content">
<div class="block">
    <div>
        <p><strong>@ViewBag.Contest.Name</strong></p>        
        <p id="total">Total Attended</p>
   
        <div id="count_num">
            <div class="count_row" >
            <p id="checked_nums"></p>  <p id="strick">/</p> <p id="nums"></p>
               </div>
        </div>
    </div>
    <div id="clear"></div>
    <div class="atts">
        
        <div id="hide_attend">Hide Attendees</div>

            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
    </div>
    
    <div class="selectbox guests">
        @foreach (var guest in ViewBag.Guests)
        {
            <p id="g1">@guest.ContWinID.ToString()</p>
            <div class="checkbox_row">
                <p class="contWinId" id="g1">@guest.ContWinID.ToString()</p>
                @{
                    if (guest.Attended != null && guest.Attended != false)
                    {
                        <input type="checkbox" name="checkboxG1" id="checkboxG@(guest.ContWinID.ToString())" onchange="" class="css-checkbox" checked /><label for="checkboxG@(guest.ContWinID.ToString())" id="guestmargin" class="css-label radGroup1 pull-left"></label>
                    }
                    else
                    {
                        <input type="checkbox" name="checkboxG1" id="checkboxG@(guest.ContWinID.ToString())" onchange="" class="css-checkbox" /><label for="checkboxG@(guest.ContWinID.ToString())" id="guestmargin" class="css-label radGroup1 pull-left"></label>
                    }
                }
            <div class="info">
                <div class="name"><strong>@guest.LastName, @guest.Name</strong></div>
               <div class="adress">
                 @{
                    String strInfo = "";

                    if (guest.HomeCity != null && guest.HomeCity.Length != 0)
                    {
                        strInfo = guest.HomeCity;
                    }
                    else
                    {
                        if (guest.BusinessCity != null && guest.BusinessCity.Length != 0)
                        {
                            strInfo = guest.BusinessCity;
                        }
                        else
                        {
                            if (guest.Birthdate != null)
                            {
                                strInfo = guest.Birthdate.ToShortDateString();
                            }
                        }
                    }
                    String strInfo1 = "";
                    if (guest.MobilePhone != null && guest.MobilePhone.Length != 0)
                    {
                        strInfo1 = guest.MobilePhone;
                    }
                    else
                    {
                        if (guest.HomePhone != null && guest.HomePhone.Length != 0)
                        {
                            strInfo1 = guest.HomePhone;
                        }
                        else
                        {
                            if (guest.BusinessPhone != null && guest.BusinessPhone.Length != 0)
                            {
                                strInfo1 = guest.BusinessPhone;
                            }
                        }
                    }
                    if (!strInfo.IsEmpty() && !strInfo1.IsEmpty())
                    {
                        strInfo = strInfo + " | ";
                    }
                    strInfo = strInfo + strInfo1;
                    <p class="guest-info">@strInfo</p>
                }
            </div>
                </div>
            </div>
        }

    </div>


    </div>
</div>
@section scripts {
    <script type="text/javascript">
        calculateChekboxesNum()
    </script>
}

