
@section Header
{
	@Html.Partial("_HeaderBackButtonPartial")
}

<div>
  <div class="selectbox" style="height: 291px;">
    <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td height="5">
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <h1>@ViewBag.Contest.Name</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p>Some winners have not yet had their prize marked as distributed.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Do you want to distribute to these winners?</p>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <input type="button" value="Yes" onclick="location.href='@Url.Action("Distribute", new { Distribute = true })'" />
              <input type="button" value="No" onclick="location.href='@Url.Action("Distribute", new { Distribute = false })'" />
              <input type="button" value="Cancel" onclick="location.href='@Url.Action("Selection")'" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
