@section BackButton
{
    @Html.Partial("_HeaderBackButtonPartial")
}

<div class="container">
    <div class="block">
        <div>
            <h4>@ViewBag.Contest.Name</h4>
        </div>
        <p>Some winners have not yet had their prize marked as distributed.</p>
        <p>Do you want to distribute to these winners?</p>

        <div id="btn_margin">
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Distribute", new { Distribute = true })'">Yes</button>
            </div>
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Distribute", new { Distribute = false })'">No</button>
            </div>
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Selection")'">Cancel</button>
            </div>
        </div>

    </div>
</div>
