@section BackButton
{
    @Html.Partial("_HeaderBackButtonPartial")
}

<div class="main_content">
    <div class="block">
        <div class="dis_title">
            <h4>@ViewBag.Contest.Name</h4>
        </div>
        <div class="dis">
            <p>Some winners have not yet had their prize marked as distributed.</p>
            <p>Do you want to distribute to these winners?</p>
        </div>
        <div id="btn_margin">
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Distribute", new { Distribute = true })'">Yes</button>
            </div>
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Distribute", new { Distribute = false })'">No</button>
            </div>
            <div>
                <button id="btn_distr" onclick="location.href='@Url.Action("Selection")'">Cancel</button>
            </div>
        </div>

    </div>
</div>
