<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/css")
    @RenderSection("styles", false)
</head>
<body>
    <div id="main">
        <header>
            <div class="back-button">
                @RenderSection("BackButton", false)
            </div>
            <div class="logo"></div>
            <div class="menu-button"></div>
        </header>
        <div class="path">
            Listener Database > Guest Lists
        </div>
        <div class="content">
            @RenderBody()                         
        </div>
        <footer>
            <div class="trademarks-text">
                Copyright @DateTime.Now.Year
                Broadcast Manager, Inc. All Rights Reserved
            </div>
        </footer>
        
        
        
          
    </div>
    <nav id="navigation">
        @Html.Partial("_Navigation")
    </nav>

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js")
    @RenderSection("scripts", false)
</body>
</html>
