<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width" />
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    @Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/slidebars.css")*@
	@Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slidebars")
    
    

</head>

<body>
    <div id="wrap">
        <div>
            <div class="header">
                <div class="col">
                    <div>
                        @if (IsSectionDefined("BackButton"))
                        {
                            @RenderSection("BackButton")
                        }
                    </div>
                </div>
                <div class="col custom-width">
                    <div>
                        <img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
                    </div>
                </div>
                <div class="col sb-open-right">
                    <div>
                        @if (IsSectionDefined("Menu"))
                        {
                            @RenderSection("Menu")
                        }
                    </div>
                </div>

            </div>
            <div class="location pull-right">
                @{
                    if (ViewBag.Location != null)
                    {
                        <span>@ViewBag.Location</span>
                    }
                }
            </div>
        </div>
        @*<div class="sb-slidebar sb-right">
            <div>
                <div class="logo pull-left">
                    <img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
                </div>
                <div class="bb pull-right">
                    <p>Station</p>
                </div>
            </div>

            <ul style="color:white">
                <li><a href="/Contest/Selection">GuestsLists</a></li>
                <li><a href="http://promosuite.com">Full Site</a></li>
                <li><a href="/Home/Help">Help</a></li>
                <li><a href="/Account/LogOff">Sign Out</a></li>
            </ul>
        </div>*@
        <script>
            (function ($) {
                $(document).ready(function () {
                    $.slidebars();
                });
            })(jQuery);
        </script>
      <div>
        @RenderBody()
      </div>
    </div>
  <div id="footer">
    @if (IsSectionDefined("Footer"))
    {
      @RenderSection("Footer")
    }
    else
    {
      @Html.Partial("_FooterPartial")
    }
  </div>
</body>
</html>
