@using MobileGuestList.Providers

<div class="logo"></div>

<div class="user pull-right">
    <p id="user">@Helper.GetUserName()</p>
    <div id="station_group">
        <div class="station_list" id="toggle-link">
            <div id="station_call">@Helper.GetUserStationCall()</div>
        </div>
    <div id="toggler" data-action="@Url.Action("ChangeStation", "Home")">

        @foreach (var station in @Helper.GetStations())
        {
            <div id="station_item" data-station-id="@station.StationId">@station.StationCall</div>
        }

    </div>
        </div>
</div>

<div id="clear"></div>
<hr>
<div class="navigation pull-right">
    <ul>
        <li>@Html.ActionLink("Guest Lists", "Selection", "Contest")</li>
        <li><a href="https://next.promosuite.com/MyPromoSuite.aspx">Full Site</a></li>
        <li>@Html.ActionLink("Help", "Help", "Home")</li>
        <li>@Html.ActionLink("Logout", "LogOut", "Home")</li>
    </ul>
</div>
