@using MobileGuestList.Providers

<div class="logo"></div>

<div class="user">
    <p id="user">@Helper.GetUserName()</p>
    <div id="station_group">
        <div class="station_list" id="toggle-link">
            <div id="station_call">@Helper.GetUserStationCall()</div>
        </div>
        <div id="toggler" data-action="@Url.Action("ChangeStation", "Home")">

            @foreach (var station in @Helper.GetStations())
            {
                if (station.StationCall == Helper.GetUserStationCall())
                {
                    <div id="hidden_item" class="station_item" data-station-id="@station.StationId">@station.StationCall</div>
                }
                else
                {
                  <div class="station_item" data-station-id="@station.StationId">@station.StationCall</div>
                }
            }

        </div>
    </div>
</div>

<div id="clear"></div>
<hr>
<div class="navigation">
    <ul>
        <li onclick="HideMenu('/Contest/Selection')"><a href="#">Guest Lists</a></li>
        <li onclick="HideMenu('https://next.promosuite.com/MyPromoSuite.aspx')"><a href="#">Full Site</a></li>
        <li onclick="HideMenu('/Home/Help')"><a href="#">Help</a></li>
        <li onclick="HideMenu('/Home/LogOut')"><a href="#">Logout</a></li>
    </ul>
</div>

@section scripts {
    <script type="text/javascript">
        var HelpAction = '@Url.Action("Help", "Home")';
    </script>
}

